.mini-avatar {
  border-radius: 3px;
}

.header-search-input {
  background: none;
  box-shadow: none;
  display: table-cell;
  min-height: 26px;
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-form .form-control {
  width: 354px;
}

.navbar {
  height: 50px;
}
